# Virtual Environment
myenv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (avoid pushing large data)
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/